body,
a,
p,
div,
span,
ul,
li,
input,
img,
h1,
h2,
h3,
h4,
i,
ins,
em,
del,
strong {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    border: none;
    outline: none;
}

img {
    border: none;
    vertical-align: middle;
}

li {
    list-style: none;
}

i {
    font-style: normal;
}

body {
    font-size: 12px;
    line-height: 1;
    background-color: #fff;
}

.clearfix::after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.w {
    width: 1200px;
    margin: 0 auto;
}
